@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
    font-family: poppins-medium;
    src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins-Bold.otf");
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: linear-gradient(353deg, #ffffff, #bfe5ff);
    background-size: 400% 400%;

    -webkit-animation: BGBlue 15s ease infinite;
    -moz-animation: BGBlue 15s ease infinite;
    -o-animation: BGBlue 15s ease infinite;
    animation: BGBlue 15s ease infinite;
    font-family: poppins-medium !important;
    overflow-x: hidden;
}

@-webkit-keyframes BGBlue {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@-moz-keyframes BGBlue {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@-o-keyframes BGBlue {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@keyframes BGBlue {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

button {
    background: transparent linear-gradient(92deg, #9143fe 0%, #3677ff 100%) 0% 0% no-repeat;
    color: white;
    padding: 12px 24px;
    border: none;
    transition: .3s ease-out;
    margin-top: 12px;
}

button:hover {
    /* background: #3c70d9; */
}

img {
    width: 250px;
    position: absolute;
    margin: 20px auto;
    left: 0;
    right: 0;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    padding-inline: 60px;
}

p {
    font-family: poppins-regular;
    margin-top: 24px;
    padding-inline: 44px;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 16px;
    }

    button {
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    img {
        width: 150px;
    }

    h1 {
        font-size: 40px;
        padding-inline: 40px;
    }

    p {
        font-size: 12px;
    }
}