@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
    font-family: poppins-medium;
    src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins-Bold.otf");
}

html, body, main {
    height: 100%;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: #f7fcff;
    font-family: poppins-medium !important;
    overflow-x: hidden;
}

header {
    z-index: 3;
    background-color: white;
}

* {
    transition: .3s ease-out;
}

.main-container {
    max-width: 768px;
}

#platform-tabs {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    margin: auto;
    transition: .05s;
}

#platform-contents {
    min-height: 100vh;
}

#platform-contents .tab-pane {
    width: 100%;
}

#platform-contents .nav-link:hover {
    cursor: pointer;
}

.accordion-button {
    color: #204496 !important;
}

.accordion-button:not(.collapsed) {
    background: transparent linear-gradient(92deg, #204496 0%, #2EABFF 100%) 0% 0% no-repeat;
    color: white !important;
}

.accordion-button::after {
    background: none !important;
    width: 0;
    height: 0;
}

/* Navbar & Sidebar */

.navbar a {
    margin-right: 0 !important;
}

.navbar img {
    max-width: 150px !important;
}

.sidebar {
    position: relative;
    left: 0;
    background-color: white;
    width: fit-content;
    z-index: 2;
    /* top: 24px; */
}

.sidebar #accordion-platform {
    position: sticky;
    top: 68px;
}

.sidebar .accordion-body {
    width: 250px;
}

.sidebar .platform::-webkit-scrollbar {
    display: none; /* hide scrollbar */
}

.sidebar .platform {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

.sidebar .preview p {
    padding: 16px 0 16px 40px;
    background-color: #efefef;
}

.sidebar .preview p:hover {
    cursor: pointer;
}

/* Sidebar */

/* Previewer Show */

#platform-contents.show {
    max-width: 100%;
    left: -10px;
}

#platform-contents .b-select.selected {
    background-color: #e2e2e2;
}

.previewer {
    height: 100%;
    /* width: calc(100% - 400px); */
    right: 80%;
    top: 0;
    opacity: 0;
    transition: opacity .3s ease 0.2s, right 0.5s ease;
}

.previewer.show {
    opacity: 1;
    right: 0;
    z-index: 1 !important;
}

.previewer h1,
h2,
h3 {
    font-family: poppins-bold;
    color: #235DB0;
}

.previewer h1 {
    font-size: 30px;
    margin-bottom: 16px;
    text-align: center;
}

.previewer h2 {
    font-size: 18px;
}

.previewer h3 {
    font-size: 16px;
}

.previewer p {
    font-family: poppins-regular;
    font-size: 14px;
    color: #000000;
}

#pbnr-rulesize p {
    margin: 14px 0 0;
}

#pbnr-rulesize li {
    font-size: 12px;
    font-family: poppins-regular;
}

/* Previewer Show */

/* Media screen */
@media (max-width: 576px) {
    #platform-contents {
        /* max-width: 768px; */
    }
}

@media (max-width: 991px) {
    .main-container {
        /* max-width: 768px; */
    }

    #platform-contents.show {
        left: 0;
    }
}