@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.wp-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wp-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wp-container .wp-container-text {
    width: 100%;
    height: 70vh;
    padding: 40px 40px 0 40px;
    background: linear-gradient(282.76deg, #9143fe 12.61%, #3677ff 81.97%);
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.wp-container .wp-container-text .image-brand img {
    width: 200px;
    margin-bottom: 48px;
}
.wp-container .wp-container-text .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.wp-container .wp-container-text .text h1 {
    max-width: 680px;
    font-family: "Montserrat", serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
}
.wp-container .wp-container-text .text p {
    max-width: 680px;
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #ffffff;
}
.wp-container .wp-container-text .button-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 32px;
}

.wp-container .wp-container-text .button-cta .btn-cta-primary {
    background: #ef672f;
    font-family: "Montserrat", serif;
    padding: 8px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ef672f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.wp-container .wp-container-text .button-cta .btn-cta-secondary {
    background: transparent;
    font-family: "Montserrat", serif;
    padding: 8px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.wp-container .wp-container-text .button-cta .btn-cta-primary:hover {
    background: #f34900;
    border: 1px solid #f34900;
}

.wp-container .wp-container-text .button-cta .btn-cta-secondary:hover {
    background: #ffffff1e;
}

.wp-container .wp-container-image {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.wp-container .wp-container-image img {
    width: 100%;
    max-width: 800px;
    margin-top: -30vh;
}

@media screen and (max-width: 768px) {
    .wp-container .wp-container-text {
        padding: 16px 16px 0 16px;
    }
    .wp-container .wp-container-text .text h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .wp-container .wp-container-text .text h1 {
        font-size: 28px;
    }
}

@media screen and (max-height: 760px) {
    .wp-container .wp-container-text .image-brand img {
        margin-bottom: 24px;
    }
    .wp-container .wp-container-text {
        height: 75vh;
    }
    .wp-container .wp-container-image {
        height: 25vh;
    }
    .wp-container .wp-container-image img {
        margin-top: -20vh;
    }
}
